<section class="shop-review-form">
  <div>
      <div class="rating button-bar">
        <a class="button button-icon icon ion-star" ng-class="{true: 'energized', false: 'dark'}[review.rating>0]" ng-click="review.rating = 1"></a>
        <a class="button button-icon icon ion-star" ng-class="{true: 'energized', false: 'dark'}[review.rating>1]" ng-click="review.rating = 2"></a>
        <a class="button button-icon icon ion-star" ng-class="{true: 'energized', false: 'dark'}[review.rating>2]" ng-click="review.rating = 3"></a>
        <a class="button button-icon icon ion-star" ng-class="{true: 'energized', false: 'dark'}[review.rating>3]" ng-click="review.rating = 4"></a>
        <a class="button button-icon icon ion-star" ng-class="{true: 'energized', false: 'dark'}[review.rating>4]" ng-click="review.rating = 5"></a>
      </div>

      <div class="comments">
        <textarea rows="4" ng-model="review.comments" placeholder="{{ 'REVIEW_COMMENTS_PLACEHOLDER' | translate }}"></textarea>
      </div>
  </div>
<section>
