<ion-view view-title="Reviews">
  <ion-content>
    <h4 class="item-divider padding">{{shop.name}}</h4>
    <div class="list list-inset review-list">
      <a class="item" ng-repeat="review in reviews" ng-click="showReview(review)">
        <div class="row head">
          <p class="col col-75">
            <i class="icon ion-chatbubble-working chat"></i>
            <h4 class="text-calm">{{review.date|date:'dd/MM/yyyy'}} - {{review.reviewer.username}}</h4>
          </p>
          <p class="col" ng-include="'app/shop/views/review-rate-tpl.html'"></p>
        </div>
        <p class="comments">{{review.comments}}</p>
      </a>
    </div>
    <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
    </ion-infinite-scroll>
    <div class="text-center empty" ng-hide="reviews.length">
      Aucun résultat
    </div>
  </ion-content>
</ion-view>
