<ion-view view-title="{{ 'SHOP_LIST_VIEW_TITLE' | translate }}">
  <ion-content>
    <div class="list list-inset shop-list">
      <a class="item" ng-repeat="shop in shops" href="#/app/shops/{{shop.id}}">
        <div class="row">
          <p class="col col-10">
            <i class="icon ion-bag"></i>
          </p>
          <p class="col col-55">
            {{shop.name}}
          </p>
          <p class="col col-25">
              <rate-bar rate="shop.globalNote"></rate-bar>
          </p>
          <p class="col col-10">
            <span class="badge badge-balanced">{{shop.nbReviews}}</span>
          </p>
        </div>
      </a>
    </div>
    <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
    </ion-infinite-scroll>
    <div class="text-center empty" ng-hide="shops.length">
      {{ 'NO_RESULT' | translate }}
    </div>
  </ion-content>
</ion-view>
