<ion-view view-title="{{ 'SHOP_LIST_VIEW_TITLE' | translate }}">
  <ion-content>
    <div class="list shop-list">
      <a class="item item-thumbnail-right" ng-repeat="shop in shops" href="#/app/shops/{{shop.id}}">
        <img ng-src="{{shop.image}}" />
        <h2>{{shop.name}}</h2>
        <p>{{shop.desc | limitTo : 100 }}</p>
        <div class="row rate">
          <rate-bar rate="shop.globalNote"></rate-bar>
          <div class="globalNote"><p>{{shop.globalNote | number:1}}</p></div>
        </div>
        <p class="comment">{{shop.nbReviews}} {{'REVIEWS' | translate}}</p>
      </a>
    </div>
    <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
    </ion-infinite-scroll>
    <div class="text-center empty" ng-hide="shops.length">
      {{ 'NO_RESULT' | translate }}
    </div>
  </ion-content>
</ion-view>
