<ion-view view-title="Shop">
  <ion-content class="shop">
    <p class="hero"><i class="icon ion-bag"></i></p>
    <div class="padding">
      <h4>{{shop.name}}</h4>
      <div class="button-bar">
        <button class="button button-outline button-calm button-small icon ion-ios-chatboxes-outline" ng-click="reviewShop()"></button>
        <button class="button button-outline button-calm button-small icon ion-android-favorite-outline"></button>
      </div>
      <p class="desc">{{shop.desc | limitTo : 255 }}</p>
    </div>

    <h5 class="subtitle" ng-show="reviews.length">Last reviews</h5>
    <h5 class="subtitle" ng-hide="reviews.length">No review yet ...</h5>
    <div ng-hide="reviews.length" class="padding">
      <button class="button button-outline icon-left ion-chatbubble button-calm" ng-click="reviewShop()">
        Be the first to review !
      </button>
    </div>
    <div class="list list-inset shop-review-list">
      <a class="item" ng-repeat="review in reviews" href="#">
        <div class="row head">
          <p class="col col-75">
            <i class="icon ion-chatbubble-working chat"></i>
            <h4 class="text-calm">{{review.date|date:'dd/MM/yyyy'}} - {{review.reviewer.username}}</h4>
          </p>
          <p class="col" ng-include="'app/shop/views/review-rate-tpl.html'"></p>
        </div>
        <p class="comments">{{review.comments}}</p>
      </a>
    </div>

    <div class="padding" ng-show="reviews.length">
      <a class="button button-small button-outline button-calm" href="#/app/shops/{{shopId}}/reviews">
        {{'MORE_REVIEWS' | translate}}
      </a>
    </div>

  </ion-content>
</ion-view>
