<ion-view view-title="Shop">
  <ion-content>
    <div class="padding">
      <h4>{{shop.name}}</h4> 
      <img src="img/logo.jpg" style="width:100%"/>
      <div class="button-bar">
          <button class="button button-assertive button-outline icon-left ion-share" style="font-size:12px;">Partager</button>
          <button class="button button-assertive button-outline icon-left ion-ios-chatboxes-outline" style="font-size:12px;">Commenter</button>
          <button class="button button-assertive button-outline icon-left ion-android-favorite-outline" style="font-size:12px;">Favoris</button>
      </div>   
      <p>{{shop.desc | limitTo : 300 }}</p>
    </div>
    
  </ion-content>
</ion-view>
