<ion-view view-title="Shop">
  <ion-content>
    <div class="padding">
      <h4>{{shop.name}}</h4>
        <div style="" class="button-bar">
            <button class="button button-assertive button-block button-outline icon ion-share" style="font-size:10px;text-align:left;border-radius:0px 0px 0px 0px;" id="detail-button6">Partager</button>
            <button class="button button-assertive button-block button-outline icon ion-ios-chatboxes-outline" style="font-size:10px;" id="detail-button7">Commenter</button>
            <button class="button button-assertive button-block button-outline icon ion-android-favorite-outline" style="font-size:10px;border-radius:-0px -0px -0px -0px;" id="detail-button8">Favoris</button>
        </div>    
      <p>{{shop.desc}}</p>
    </div>
  </ion-content>
</ion-view>
