<ion-view view-title="{{ 'SHOP_FAVORITE_VIEW_TITLE' | translate }}">
  <ion-content>
    <ion-list show-delete="showDelete" show-reorder="showReorder" class="list shop-list">
      <ion-item ng-repeat="shop in shops" item="shop" class="item-remove-animate">
       <div ng-include="'app/shop/views/shop-item-list-tpl.html'"></div>
       <ion-delete-button class="ion-trash-a" ng-click="removeFavorite(shop)"></ion-delete-button>
       <ion-reorder-button class="ion-navicon" on-reorder="moveItem(shop, $fromIndex, $toIndex)"></ion-reorder-button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
    </ion-infinite-scroll>
    <div class="text-center padding" ng-hide="shops.length">
      <p>{{ 'NO_FAVIRITE_SHOP' | translate }}</p>
    </div>
  </ion-content>

  <div class="bar bar-footer bar-light">
    <button class="button icon ion-trash-a" ng-click="showDelete = !showDelete; showReorder = false"></button>
    <button class="button icon ion-arrow-move" ng-click="showReorder = !showReorder; showDelete = false"></button>
  </div>

</ion-view>
