<ion-view view-title="{{ 'SHOP_LIST_VIEW_TITLE' | translate }}">

  <ion-content>
    <div class="button-bar switch-display">
      <a class="button button-icon"
      ng-class="{'ion-ios-list':cardsLayout, 'ion-image':!cardsLayout}"
      ng-click="cardsLayout = !cardsLayout"></a>
    </div>

    <div class="list shop-list" ng-if="!cardsLayout">
      <div ng-repeat="shop in shops" ng-include="'app/shop/views/shop-item-list-tpl.html'"></div>
    </div>

    <div class="list shop-list" ng-if="cardsLayout">
      <div ng-repeat="shop in shops" ng-include="'app/shop/views/shop-item-card-tpl.html'"></div>
    </div>

    <ion-infinite-scroll
        ng-if="hasMore"
        on-infinite="loadMore()"
        distance="5%">
    </ion-infinite-scroll>
    <div class="text-center empty" ng-hide="shops.length">
      {{ 'NO_RESULT' | translate }}
    </div>
  </ion-content>
</ion-view>
