<a class="item item-card" ng-repeat="shop in shops" href="#/app/shops/{{shop.id}}">
  <img class="picture" ng-src="{{shop.image}}" />
  <div class="details">
    <p class="title">{{shop.name}}</p>
    <div class="row rating">
      <p class="city col col-30">
        <i class="icon ion-android-pin"></i>{{shop.city.name}}
      </p>
      <rate-bar rate="shop.globalNote"></rate-bar>
    </div>
    <p class="desc">{{shop.desc}}</p>
    <p class="note">{{shop.globalNote | number:1}}</p>
    <img class="button thumb" ng-src="{{shop.image}}" />
  </div>
</a>
