<ion-view view-title="Playlists">
  <ion-content>
    <div class="row row-center">
      <div class="col col-80">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input ng-model="query" ng-change="search(query)" type="search"
                    placeholder="Ex. cinema, restau, concert ...">
        </label>
      </div>
      <div class="col col-top col-20">
          <button class="button icon ion-map"></button>
      </div>
    </div>
            
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
    <ion-infinite-scroll 
        ng-if="moreDataCanBeLoaded()"
        on-infinite="loadMore()" 
        distance="5%">
    </ion-infinite-scroll>
  </ion-content>
</ion-view>
