<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-calm">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="menu-sdie">
    <ion-content>
      <p class="hero"><i class="icon ion-bag"></i></p>
      <ion-list>
        <ion-item menu-close ui-sref="app.shops">
          <i class="icon-left ion-android-home"></i>
          Home
        </ion-item>
        <ion-item menu-close ng-hide="hasSession()" ng-click="login()">
          <i class="icon-left ion-unlocked"></i>
          Login
        </ion-item>
        <ion-item menu-close ng-show="hasSession()" ng-click="logout()">
          <i class="icon-left ion-locked"></i>
          Logout
        </ion-item>
        <ion-item menu-close ng-show="hasSession()" ui-sref="app.favorites">
          <i class="icon-left ion-heart"></i>
          Favorites
        </ion-item>
        <ion-item menu-close ng-click="about()">
          <i class="icon-left ion-information-circled"></i>
          About
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
