<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">{{'LOGIN_VIEW_TITLE' | translate}}</h1>
    <div class="buttons">
      <button class="button icon ion-close" ng-click="closeLogin()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding auth">
    <div class="logo">
      <img src="img/logo.png" class="logo">
    </div>
    <form ng-submit="doLogin()">
      <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="credentials.email">
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="credentials.password">
          </label>
          <button class="button button-block button-calm" type="submit">{{'LOGIN' | translate}}</button>
      </div>
    </form>
    <p class="link-txt" ng-click="register()">{{'CREATE_ACCOUNT' | translate}}</p>
    <p class="link-txt" ng-click="resetPassword()">{{'FORGOTTEN_PASSWORD' | translate}}</p>
  </ion-content>
</ion-modal-view>
