<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button icon ion-close" ng-click="closeLogin()"></button>
    </div>
  </ion-header-bar>
  <ion-content class="padding auth">
    <form ng-submit="doLogin()">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Email" ng-model="credentials.email">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="credentials.password">
          </label>
          <label class="item">
            <button class="button button-block button-calm" type="submit">Login</button>
          </label>
      </div>
    </form>
    <p class="link-txt" ng-click="register()">Create an account ?</p>
  </ion-content>
</ion-modal-view>
