<ion-modal-view>
  <ion-header-bar class="bar-calm">
    <h1 class="title">{{'REGISTER_VIEW_TITLE' | translate}}</h1>
    <div class="buttons">
      <button class="button icon ion-close" ng-click="closeRegister()"></button>
    </div>
  </ion-header-bar>
  <ion-content  class="padding auth">
    <div class="logo">
      <img src="img/logo.png" class="logo">
    </div>
    <form ng-submit="doRegister()">
        <div class="list list-inset">
          <label class="item item-input">
            <i class="icon ion-email placeholder-icon"></i>
            <input type="text" placeholder="{{'EMAIL' | translate}}" ng-model="credentials.email">
          </label>
          <label class="item item-input">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="{{'USERNAME' | translate}}" ng-model="credentials.username">
          </label>
          <label class="item item-input">
            <i class="icon ion-locked placeholder-icon"></i>
            <input type="password" placeholder="{{'PASSWORD' | translate}}" ng-model="credentials.password">
          </label>
          <label class="item item-toggle">
            {{'SUBSCRIBE_NEWSLETTER' | translate}}
            <label class="toggle toggle-calm">
              <input type="checkbox" ng-model="credentials.newsletter">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </label>
          <button class="button button-block button-calm" type="submit">{{'REGISTER' | translate}}</button>
        </div>
    </form>
    <p class="link-txt" ng-click="login()">{{'ALREADY_HAVE_ACCOUNT' | translate}}</p>
  </ion-content>
</ion-modal-view>
