.switch-display {
  .button-icon{
    font-size:2em;
  }
}
.shop-detail{
  .hero {
    height: 200px;
    background: $calm;
    text-align: center;
    font-size: 5em;
    text-transform: uppercase;
    color: $light;

    .buttons button{
      margin: 10px;
      &.favorite {
        color: $assertive;
      }
    }

    .picture {
      width:100%;
      height:200px;
      position:absolute;
      background-repeat: no-repeat;
      background-size: cover;
      -webkit-filter: brightness(60%);
      filter: brightness(60%);
    }

    .content{
      padding-top: 30px;
      .nb-reviews, i.dark{
        color: $light;
      }

      .button-bar{
        padding:20px;
      }
    }
  }

  .title{
    color: $light;
    margin:0;
  }

  p.desc {
    margin-top: 10px;
    text-align: justify;
  }

  .subtitle{
    padding: 0 0 0 10px;
    font-size: 1.2em;
    margin:0;
  }
}

.shop-review-form {
  .rating{
    margin-left: -7px;
    .button:hover{
      color:$energized;
    }
  }
}

.shop-list {

  background: #EEE;
  a.item {
    padding-bottom: 0px;

    .row.rating {
      padding: 0;
      font-size: 12px;
      margin-top:10px;
      .average {
        margin-left: 8px;
        p {
          padding-left: 5px;
          padding-right: 5px;
          text-align: center;
          background: $dark;
          color: $energized;
          display: inline-block;
          border-radius: 2px;
          font-size: 10px;
        }
      }

      .reviews {
        font-size: 10px;
        font-style: italic;
        padding: 0;
        margin-left:10px;
      }

      .city{
        &.col{
          padding: 0;
        }
        .icon{
          color: $dark;
          font-size: 15px;
          margin-right: 5px;
        }
        font-size: 12px;
      }
    }
    .desc{
      margin-top: 10px;
    }
  }

  a.item-card {
    padding: 2px 0 0 0;
    margin: 0 0 8px 0;
    border: none;
    height:300px;

    .picture {
      width: 100%;
      height: 300px;
      cursor: pointer;
    }

    .thumb {
      bottom: 65px;
      right: 10px;
      width: 70px;
      height: 65px;
      z-index: 10;
      padding: 0;
      position: absolute;
      border: solid 2px $light;
      transition: 0.3s;
    }

    .restoPic.activated{
      border: solid 2px $assertive;
    }

    .favorite{
      top: 15px;
      right: 10px;
      color: $light;
      font-size: 40px;
      position: relative;
    }

    .favorite.enabled{
      opacity: 0.7;
      color: $assertive;
    }

    .details {
      top: -105px;
      width: 100%;
      height: 100px;
      padding: 5px;
      position: relative;
      background: rgba(255, 255, 255, 0.8);

      rate-bar{
        font-size: 1.5em;
      }
      .title {
        color: #333;
        margin-top: 5px;
        font-size: 1.4em;
      }
      p.note {
        left: 0;
        top: -100px;
        padding: 5px;
        color: $light;;
        font-size: 1.2em;
        position: absolute;
        background: $assertive;
      }
      .desc {
          margin-top: 0px;
          font-size: 12px;
      }
    }
  }
}

.review-list {
  a.item {
    padding:1px;
    margin-top: 4px;
    border-top:none;
    border-right:none;
    border-left:none;

    .head{
      margin:0;
      padding:1px;
      line-height: 5px;

      .icon.chat{
        color:$calm;
        font-size:1.5em;
        position: absolute;
        top:0;
      }
      h4{
        position: absolute;
        left: 30px;
        top: 5px;
      }
    }

    p.comments{
      padding:0 5px 0 5px;
    }
  }
}
