

.shop{
  p.display {
    height: 130px;
    background: $calm;
    text-align: center;
    padding-top: 25px;
    font-size: 5em;
    color: $light;
  }

  p.desc {
    margin-top: 10px;
    text-align: justify;
  }
}
