.shop{
  p.hero {
    height: 130px;
    background: $calm;
    text-align: center;
    padding-top: 25px;
    font-size: 5em;
    color: $light;
    background-repeat:no-repeat;
    background-size: cover;
  }

  p.desc {
    margin-top: 10px;
    text-align: justify;
  }

  .subtitle{
    padding: 0 0 0 10px;
    font-size: 1.2em;
    margin:0;
  }
}

.shop-review-form {
  .rating{
    margin-left: -7px;
    .button:hover{
      color:$energized;
    }
  }

  .comments {
    label{
      color: #777;
    }
  }
}

.shop-list {
  .row {
    padding: 0px;
  }
  .rate {
    font-size: 12px;
  }

  .globalNote {
    padding-left: 10px;
  }
  .globalNote p {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background: #444;
    color: #ffc900;
    display: inline-block;
    border-radius: 2px;
    font-size: 10px;
  }
  .comment {
    font-size: 10px;
    color: #aaa;
    font-style: italic;
    padding: 0px;
  }

  a.item {
    padding-bottom: 0px;
  }
}

.review-list {
  a.item {
    padding:1px;
    margin-top: 4px;
    border-top:none;
    border-right:none;
    border-left:none;

    .head{
      margin:0;
      padding:1px;
      line-height: 5px;

      .icon.chat{
        color:$calm;
        font-size:1.5em;
        position: absolute;
        top:0;
      }
      h4{
        position: absolute;
        left: 30px;
        top: 5px;
      }
    }

    p.comments{
      padding:0 5px 0 5px;
    }
  }
}
