

.shop{
  p.display {
    height: 130px;
    background: $calm;
    text-align: center;
    padding-top: 25px;
    font-size: 5em;
    color: $light;
  }

  p.desc {
    margin-top: 10px;
    text-align: justify;
  }
}

.shop-review {
  .rating{
    margin-left: -7px;

    .button:hover{
      color:$energized;
    }
  }

  .comments {
    label{
      color: #777;
    }
  }
}
